<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>设置</li>
      </ul>
    </div>
    <div class='inner'>
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } %>
      <% if (typeof(success) !== 'undefined' && success) { %>
      <div class="alert alert-success">
        <strong><%= success %></strong>
      </div>
      <% } %>
      <form id='setting_form' class='form-horizontal' action='/setting' method='post'>
        <div class='control-group'>
          <label class='control-label' for='name'>用户名</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='name' name='name' size='30' type='text' readonly='true'
                   value="<%= loginname %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='sex'>性别</label>

          <div class='controls'>
            <input class='input-xlarge' id='sex' name='sex' size='30' type='text' value="<%= sex %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='location'>所在地点</label>

          <div class='controls'>
            <input class='input-xlarge' id='location' name='location' size='30' type='text'
                   value="<%= location %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='marital'>婚否</label>

          <div class='controls'>
            <input class='input-xlarge' id='marital' name='marital' size='30' type='text' value="<%= marital %>""/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='age'>年龄</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='age' name='age' size='30' type='text'
                   value="<%= age %>"/>
              </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='career'>职业</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='career' name='career' size='30' type='text'
                   value="<%= career %>"/>
              </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='house'>房</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='house' name='house' size='30' type='text'
                   value="<%= house %>"/>
              </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='car'>车</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='car' name='car' size='30' type='text'
                   value="<%= car %>"/>
              </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='education'>学历</label>

          <div class='controls'>
            <input class='input-xlarge' id='education' name='education' size='30' type='text' value="<%= education %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='height'>身高</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='height' name='height' size='30' type='text'
                   value="<%= height %>"/>
              </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='weight'>体重</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='weight' name='weight' size='30' type='text'
                   value="<%= weight %>"/>
              </select>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='phone'>电话</label>

          <div class='controls'>
            <input class='input-xlarge' id='phone' name='phone' size='30' type='text' value="<%= phone %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='email'>电子邮件</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='email' name='email' size='30' type='text'
                   readonly='true' value="<%= email %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='url'>个人网站</label>

          <div class='controls'>
            <input class='input-xlarge' id='url' name='url' size='30' type='text' value="<%= url %>"/>
          </div>
        </div>

        <div class='control-group'>
          <label class='control-label' for='weibo'>微博</label>

          <div class='controls'>
            <input class='input-xlarge' id='weibo' name='weibo' size='30' type='text' value="<%= weibo %>"
                   placeholder="e.g. http://weibo.com/yourID"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='signature'>个性签名</label>

          <div class='controls'>
            <textarea class='input-xlarge' id='signature' name='signature' size='30'><%= signature %></textarea>
          </div>
        </div>
        <input type='hidden' id='action' name='action' value='change_setting'/>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>

        <div class='form-actions'>
          <input type='submit' class='span-primary submit_btn' data-loading-text="保存中.." value='保存设置'/>
        </div>
      </form>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>更改密码</span>
    </div>
    <div class='inner'>
      <form id='change_pass_form' class='form-horizontal' action='/setting' method='post'>
        <div class='control-group'>
          <label class='control-label' for='old_pass'>当前密码</label>

          <div class='controls'>
            <input class='input-xlarge' type='password' id='old_pass' name='old_pass' size='30'/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='new_pass'>新密码</label>

          <div class='controls'>
            <input class='input-xlarge' type='password' id='new_pass' name='new_pass' size='30'/>
          </div>
        </div>
        <input type='hidden' id='action' name='action' value='change_password'/>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>

        <div class='form-actions'>
          <input type='submit' class='span-primary submit_btn' data-loading-text="更改中.." value='更改密码'/>
        </div>
      </form>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Access Token</span>
    </div>
    <div class='inner'>
      <div>
        <span>字符串：</span>
        <%- accessToken %>
      </div>
      <div>
        <span>二维码：</span>
        <span id="access-token-qrcode"></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // qrcode generate
  var accessToken = "<%- accessToken %>";
  new QRCode(document.getElementById("access-token-qrcode"), {
    text: accessToken,
    width: 200,
    height: 200,
  });
  // END qrcode generate
</script>
