<tr>
  <td><b><%= indexInCollection+1 %></b></td>
  <td>
    <a class='user_avatar' href="/user/<%= user.loginname %>">
      <img src="<%= proxy(user.avatar_url) %>" title="<%= user.loginname %>"/>
    </a>
    <span class='sp10'></span>
    <a href='/user/<%= user.loginname %>'><%= user.loginname %></a></td>
  <td><%= user.create_at_ago() %></td>
  <td><%= user.sex %></td>
  <td><%= user.age %></td>
  <td><%= user.career %></td>
  <td><%= user.house %></td>
  <td><%= user.car %></td>
  <td><%= user.height %></td>
  <td><%= user.weight %></td>
  <td><%= user.education %></td>
  <td><%= user.marital %></td>
  <td><%= user.phone %></td>
  <td><%= user.signature %></td>
</tr>
